html {
    background-color: black;
}
body {
    margin: auto;
    width: 80vw;
    background: peachpuff;
}
.top-ul {
    background-color: green;
    color: pink;
    text-transform: uppercase;
    text-decoration: wavy;
}
.hide {
    display: none;
}
.highlight {
    text-transform: uppercase;
    color: blue;
    background-color: deepskyblue;
}
.reject {
    text-decoration-line: line-through;
    color: darkolivegreen;
    background-color: darkgray;
}