/* BOOKMARKS */

.bookmark-item {
    display: inline-block;
    background-color: #33BDFF;
    color: #ffef14;
}

/*  */

input {
    background-color: #ffef14; 
    padding:10px; 
    margin:8px; 
    padding:10px; 
    text-transform:uppercase; 
    text-decoration:overline; 
    font-size:13px; 
    font-family:cursive; 
    color:#1a5e23;
}
input.pvids {
    background-color: #f9f9f9; 
    padding:10px; 
    margin:8px; 
    padding:10px; 
    text-transform:uppercase; 
    text-decoration:overline; 
    font-size:13px; 
    font-family:cursive; 
    color:#ddd;
}
li.forex {
    background-color: #f23182; 
    padding:10px; 
    margin:8px; 
    padding:10px; 
    text-transform:uppercase; 
    text-decoration:overline; 
    font-size:13px; 
    font-family:cursive; 
    color:#1a5e23;
}
ul {
    list-style-type: none; 
    text-align: center; 
    position: sticky;
}
li.pvids {
    background-color: #000000; 
    padding:10px; 
    margin:8px; 
    padding:10px; 
    text-transform:uppercase; 
    text-decoration:overline; 
    font-size:13px; 
    font-family:cursive; 
    color:#ffffff;
}
input.cbatemodel {
    background-color: #33FF57; 
    padding:10px; 
    margin:8px; 
    padding:10px; 
    text-transform:uppercase; 
    text-decoration:overline; 
    font-size:13px; 
    font-family:cursive; 
    color:#33BDFF;
}

.hide-item {
    display: none;
}