/* BASE AFTER RESET */

/* site colors:  
#F1FF00 > yellow
#00FF8E > light bright green
#0E00FF > blue
#FF0071 > pinkish red
*/
html {
    background-color: var(--secondary-highlight-color);
}
body {
    /* background-color: rgba(18, 243, 74, 0.9); */
    /* background-color: #f1ff00; */
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    max-width: 1600px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-bg-color: #F1FF00;
    --main-text-color: #0E00FF;
    --main-highlight-color: #FF0071;
    --secondary-highlight-color: #00FF8E;
}
/* MEDIA SCREEN */

/* @media 
to be filled out later
*/
/* HEADER */
h1, h2, h3 {
    font-family: 'Cabin Sketch', cursive;
    /* font-family: 'Londrina Sketch', cursive; */
    font-weight: 500;
}
/* NAV */
.nav-menu {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.nav-menu ul {
    height: 40px;
}
.nav-menu-item {
    list-style: none;
    text-decoration: none;
}
li.nav-menu-item a { /* remove underline from nav items */
    text-decoration: none;
}

ul#hamburger {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 40%;
    color: var(--main-text-color);
    box-sizing: border-box;
}
#hamburger:hover {
    cursor: pointer;
}
div.hamburger-list {    
    width: 10px;
    height: 2px;
    transform: scaleX(2);
    background-color: var(--main-text-color);
    box-sizing: border-box;
    max-height: 100%;
}
.hamburger-hide {
    display: none;
}
.hamburger-redisplay {
    background-color: orange;
}

h1 {
    margin: 5px auto;
    box-shadow: -1px 1px 2px 2px var(--secondary-highlight-color);
}
/* set display grid to sort form */
#contact-wrapper {
    width: 40vw;
    min-height: 200px; /* height here to control auto-height for form */
    max-height: 900px;
    margin: 10px auto 20px;
}

#contact-form-div {
    /* max-width: 50%; */
    margin: auto;
    border: 1px solid blue;
    height: 90%; /* need to address height and padding */
    min-height: 500px;
    max-height: 900px;
}
.center {
    text-align: center;
}

form#toggle-contact-form {
    /* display: grid; */ /* move to grid css file after completely working */
    /* width: 500px; */
    /* width: 50vw; */
    min-height: 300px; /* height here to control auto-height for form */
    max-height: 900px;
    width: 90%;
    min-width: 300px;
    max-width: 1200px;
    margin: 10px auto 20px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: -4px 4px 5px 1px #161616;
    padding: 20px;
    box-sizing: border-box; /* testing box lines */
    grid-template-columns: 1fr;
}
.f-l-i { /* f-l-i for form-label-input */ /* input,button,select,label */
    display: grid;
    color: var(--main-text-color);
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 300px;
}
label.f-l-i {
    font-size: 80%;
}
input.f-l-i {
    background-color: var(--secondary-highlight-color);
    border-radius: 5px;
}
input.f-l-i::placeholder {
    color: var(--main-text-color);
}
button[type=submit] {
    margin-top: 5px;
    width: 150px;
    color: var(--main-text-color);
}
textarea#email-message {
    margin-top: 10px;
    background-color: whitesmoke;
    font-size: 110%;
    font-weight: bold;
    border-radius: 5px;
    width: 85%; /* needed to set % for min/max width */
    min-width: 200px; /* width auto-size not working here */
    max-width: 800px; /* on small screens height does not adjust */
    overflow: scroll;
    scroll-behavior: smooth;
}
/* .show-element {
    display: none;
} */
.hide-element { /* toggle handled in main.js */ 
    display: none;
    background-color: red;
}

/* BODY */


/* CONTENT */

#main-wrapper {
    width: 100%;
}

/* content left & right settings below causing limited width */
/* .content-left {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    float: left;
}
.content-right {
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    width: 30%;
    float: right;
} */

.bumper {
    text-align: center;
    justify-content: center;
}
.bumper-long {
    width: 275px;
    height: 50px;
    background-color: white;
    margin: 5px 5px 10px;
    border: 3px solid black;
    padding: 5px;
    box-sizing: border-box;
}
.bumper-long:hover {
    transform: scale(1.2);
    cursor: pointer;
    border: 2px solid black;
}
.bumper-short {
    width: 175px;
    height: 50px;
    margin: 5px 5px 10px;
    background-color: indianred;
}
.new-item, .popular-item {
    width: 200px;
    height: 50px;
    background-color: steelblue;
    margin: 10px 5px 0px;
}

/* FOOTER */

.footer ul li {
    list-style: none;
}
.footer-item a {
    text-decoration: none;
}