

/* GRID TO ENTIRE PAGE; FLEXBOX TO CONTENT SECTIONS */
/* MEDIA QUERIES | VARIABLES FOR COMMON ITEMS */
/* need to fix widths and determine width ranges for diff scrn sizes */
/* need to compartamentalize grid vs flex css file placement */
/* currently, flex css config is in style.css file and here */

/* body */

#body {
    display: grid;
    /* grid-template-areas coupled with grid-area of elements */
    /* need to divide up header section to account for search */
    /* likely will add search to left side of menu bar for ease */
    grid-template-areas: 
    "h h h h h h h h h h"
    "w w w w w w w w w w"
    "c c c c c c c a a a"
    "c c c c c c c a a a"
    "f f f f f f f f f f";
    /* will need to understand grid better to get auto-fit work
    grid-template-columns: minmax(100px, 1fr); */
}

/* header */


.site-header {
    /* no quotes needed around grid area */
    grid-area: h;
}
/* menu */

/* NAV */

.nav-menu-flex ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid pink;
    box-sizing: border-box;
}

/* miscellaneous */

#contact-wrapper {
    grid-area: w;
}
/* #contact-form-div {
    grid-area: w;
} */

/* main content */

main {
    grid-area: c;
}

.bumper-flex {
    display: flex;
    margin: 10px 5px 0px;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}

.content-left {
    display: flex;
    flex-wrap: wrap;
}

/* sidebar */

aside {
    grid-area: a;
}

/* footer */

/* FOOTER */

footer {
    /* need to work on auto align footer items */
    grid-area: f;
}
.footer-flex {
    display: flex;
    clear: both; /* clear both temporarily */
    justify-content: flex-start;
}