/* BASE AFTER RESET */

body {
    background-color: rgba(100,200,125,0.6);
    max-width: 1600px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* MEDIA SCREEN */

/* @media 
to be filled out later
*/
/* HEADER */

/* NAV */
.nav-menu {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.nav-menu-item {
    list-style: none;
    text-decoration: none;
}
li.nav-menu-item a { /* remove underline from nav items */
    text-decoration: none;
}

/* set display grid to sort form */
#contact-form-div {
    display: grid;
    width: 40vw;
    min-height: 500px; /* height here to control auto-height for form */
    max-height: 900px;
    margin: 10px auto 20px;
}

.center {
    text-align: center;
}

form#toggle-contact-form {
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: -4px 4px 5px 1px #161616;
    padding: 20px;
    grid-template-columns: 1fr;
}
#toggle-contact-form input,button, select {
    display: block;
}
textarea#email-message {
    margin-top: 10px;
    background-color: whitesmoke;
    font-size: 110%;
    font-weight: bold;
    border-radius: 5px;
    min-width: 200px; /* width auto-size not working here */
    max-width: 500px; /* on small screens height does not adjust */
    overflow: scroll;
    scroll-behavior: smooth;
}
form > label {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* BODY */


/* CONTENT */

#main-wrapper {
    width: 100%;
}

/* content left & right settings below causing limited width */
/* .content-left {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    float: left;
}
.content-right {
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    width: 30%;
    float: right;
} */

.bumper {
    text-align: center;
    justify-content: center;
}
.bumper-long {
    width: 275px;
    height: 50px;
    background-color: white;
    margin: 5px 5px 10px;
    border: 3px solid black;
    padding: 5px;
    box-sizing: border-box;
}
.bumper-long:hover {
    transform: scale(1.2);
    cursor: pointer;
    border: 2px solid black;
}
.bumper-short {
    width: 175px;
    height: 50px;
    margin: 5px 5px 10px;
    background-color: indianred;
}
.new-item, .popular-item {
    width: 200px;
    height: 50px;
    background-color: steelblue;
    margin: 10px 5px 0px;
}
/* FOOTER */

.footer ul li {
    list-style: none;
}
.footer-item a {
    text-decoration: none;
}
.hide-element { /* toggle handled in main.js */ 
    display: none; /* not working but js sets the classlist  */
    /* background-color: red; */
}