#root {
    display: grid;
    grid-template-areas:
    "head head head head head head head head head head head head"
    "contwrap contwrap contwrap contwrap contwrap contwrap contwrap contwrap contwrap contwrap contwrap contwrap "
    "footer footer footer footer footer footer footer footer footer footer footer footer "
    /* "pop pop pop pop pop pop pop pop pop pop pop " */
}
div#content-wrapper {
    /* grid-template-columns: repeat(3, 1fr); */
    grid-area: 
    contwrap;
}
div#header {
    grid-area: head;
}
/* #nav-menu {
    grid-area: nav;
} */
#web-projects {
    grid-area: webproj;
    display: flex;
    flex-wrap: wrap;
}
table.project {
    display: grid;
    margin-right: 10px;
    align-content: stretch;
}
#card-posts { /* flex to wrap when card and not when full */
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
div#footer-menu {
    grid-area: footer;
}
/* "webproj webproj webproj webproj webproj webproj webproj webproj webproj webproj webproj webproj"
    "wpt wpt wpt wpt wpt wpt wpt wpt wpt wpt wpt wpt"
    "cp cp cp cp cp cp cp cp cp cp cp cp" */

.popup {
    grid-area: pop;
}